/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* css variables */
:root{
    --navbar-height:59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* navbar : logo and images */
#logo{
    margin: 10px 10px;
}
#logo img{
    height: 62px;
    margin: 4px 15px;
}

/* navbar : list styling */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}
#navbar ul{
    display: flex;
    font-family:serif;

}

#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(5, 5, 5);
    background-color: aliceblue;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 420px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../bg2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 518px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 25px;
    margin-bottom: 18px;
    border-radius: 23px;
    background-color: #f2f2f2;
}
#services .box:hover{
    transform: translate(10px,10px);
}
#services .box img{
    height: 152px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: cursive;
}

/* CLient section */
#client-section{
    position: relative;
    /* height: 344px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;

}
#clients img{
    height: 67px;
    margin:11px 31px;
}


/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 1.0; */
    background: url('../contact us.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family:cursive;
}
footer{
    background-color: black;
    color: white;
    padding: 16px 20px;
}


/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 6px;
    font-family: 'Lobster', cursive;

}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    transform: scale(1.1);
}
.center{
    text-align: center;
}